@media screen and (min-width: 550px) {
    .banner {
        justify-content: space-between;
        width: 100%; 
    }
    
    .dropdown {
        flex-grow: 1; 
    }
    


    .dropbtn {
        display: none; 
    }


    .dropdown-content {
        display: flex !important;
        position: static;
        background-color: transparent;
        box-shadow:0;
      
        width: 100%; 

        justify-content: space-around;
        margin: 0; 
        
        flex-direction: row;
        align-items: center; 
        gap: 2px;

    }


    .dropdown-content a {
        color: black;
        padding: 12px 30px;
        white-space: nowrap;
        background-color: transparent;

    }
    

      .submenu-content a {
           background-color: #007BFF;
           padding: 12px 50px;
           color: white;
      }
      
     .dropdown-content a:hover,
     .dropdown-submenu:hover > a {
         background-color: #007BFF;
         color: white;

     }

    .submenu-content a:hover {
        background-color: white;
        color: #007BFF;
    }


    .dropdown-submenu:hover .submenu-content {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ADD8E6;
        box-shadow: 0px 8px 16px 0px #007BFF;
        color: black;
        width: max-content;
    }


    .dropdown-submenu .submenu-content {
        display: none; 
        position: absolute;
        left: 0;
        top: 100%;
    }


    .user-welcome {
        margin: 0;
        padding: 0 10px;
        display: none;
        display: block;
        color: blue;
    }
    
    .user-welcome a {
        color: lightblue;
    }
}
