<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Andy's Trivia App{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/cards">All Cards</a>
        <a href="/sets">All Sets</a>
        <a href="/users">Users</a>
        <a href="/play">Play Trivia</a>
        <a href="/quiz">Start Quiz</a>
        <a href="/scores">Scores</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        © 2025 Andy's Trivia App. All rights reserved.
    </footer>
</body>
</html>
